<!DOCTYPE html>
<html>
<head>
    <title>Swagger UI</title>
    <link rel="stylesheet" type="text/css" href="{% static 'swagger-ui.css' %}" >
    <link rel="stylesheet" type="text/css" href="{% static 'swagger-ui-standalone-preset.css' %}" >
</head>
<body>
    <div id="swagger-ui"></div>
    <script src="{% static 'swagger-ui-bundle.js' %}"> </script>
    <script src="{% static 'swagger-ui-standalone-preset.js' %}"> </script>
    <script src="{% static 'swagger-custom.js' %}"> </script>
</body>
</html>

